.InfoDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 100%;
    margin: 10px;
}

.InfoDataContainer h2,
.InfoDataContainer h3 {
    margin: 0;
}

.InfoDataContainer h2 {
    color: #4632c2;
}

.InfoDataContainer h3 {
    color: #c97793;
}

.InfoDataContainer hr {
    width: 100%;
    height: 2px;
    border-top: 2px solid #4632c2;
}

.InfoDataContainer p {
    font-size: 0.8rem;
}

.Genres {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.Genres h3 {
    margin: 0;
    width: 100%;
    padding: 10px;
} 

.Genres ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Genres li {
    color: #4632c2;
    border: 1px solid #4632c2;
    background-color: rgba(150, 140, 209, .3);
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.InfoBox {
    display: none;
    box-sizing: border-box;
    padding: 5px;
    color: #4632c2;
    border: 1px solid #4632c2;
    background-color: rgba(150, 140, 209, .3);
    font-weight: bold;
}

.Label {
    width: 125px;
    display: inline-block;
}

.InfoBox p {
    margin: 0;
}

@media(min-width: 411px) {
    .InfoBox {
        display: block;
    }

    .InfoDataContainer p {
        font-size: 1rem;
    }
}

@media(min-width: 1000px) {
    .InfoDataContainer {
        max-width: 250px;
    }
}