.RatingOverlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #608aad;
    padding: 25px;
}

.RatingOverlay input {
    box-sizing: border-box;
    border: none;
    padding: 5px;
    width: 50%;
}

.UpdatedButton {
    height: 25px;
    width: 50%;
    margin: 0;
    margin-top: 10px;
    background-color: #ccc;
}

@media (min-width: 750px) {
    .RatingOverlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        box-sizing: border-box;
        top: 0;
        right: 40px;
        width: 100px;
        height: 100%;
        background-color: #608aad;
        border-right: 2px solid #4b7699;
    }

    .RatingOverlay input {
        width: 100%;
    }
    
    .UpdatedButton {
        width: 100%;
    }
}
