.slick-slider .slick-next,
.slick-slider .slick-prev {
    height: 25px;
    width: 25px;
}

.slick-slider .slick-next:before,
.slick-slider .slick-prev:before {
    opacity: 1 !important;
    color: #c97793 !important;
    font-size: 25px !important;
    transition: color .2s ease-in;
}

.slick-slider .slick-next:hover::before,
.slick-slider .slick-prev:hover::before {
    color: #c7416f !important;
}

.slick-slider .slick-next {
    right: -35px;
}

.slick-slider .slick-prev {
    left: -35px;
}