.DropdownSearch {
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 80px;
    border-right: none;
    border-top: none;
    text-align: center;
}

.DropdownSearch button {
    background-color: transparent;
    margin-right: 0;
    font-size: 2rem;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DropdownSearch svg {
    size: 50px;
    fill: white;
    width: 35px;
    height: 35px;
}