.Info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    margin: 25px auto;
}

@media(min-width: 900px) {
    .Info {
        height: calc(100vh - 125px);
    }
}