/* Navigation */
.NavigationDesk {
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.NavigationMob {
    display: flex;
}

.NavigationMob {
    margin: 10px 0 0 50px;
}

.NavigationMob ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none; 
    padding: 0;
}

.NavigationMob ul li {
    margin: 0 0 10px 0;
}

@media (min-width: 800px) {
    .NavigationDesk {
        display: flex;
    }

    .NavigationDesk {
        margin-left: 10px;
        margin-right: auto;
    }
    
    .NavigationDesk ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        padding: 0;
    }

    .NavigationMob {
        display: none;
    }
}