/* Search */

.MainSearch {
    display: block !important;
}

.SearchDesk {
    display: none;
}

.SearchMob {
    background-color: #ccc;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.SearchMob form,
.SearchDesk form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.SearchMob select,
.SearchDesk select {
    border: none;
    border-right: 1px solid #ccc;
    outline: none;
}

.SearchMob input,
.SearchDesk input {
    box-sizing: border-box;
    border: none;
    border-radius: 0px;
    padding: 5px;
}

.SearchMob button,
.SearchDesk button {
    border: none;
    padding: 3px;
    width: 50px;
    fill: #323;
    margin-right: 0;
}

.SearchMob button:hover,
.SearchDesk button:hover {
    background-color: #4286f4;
}

@media (min-width: 750px) {
    .SearchDesk {
        display: block;
    }

    .HeaderSearch form {
        height: 30px;
    }

    .SearchMob {
        display: none;
    }
    
}

