.Header {
    height: 75px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #000000, #434343);
}