.ListsDropdown ul{
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
}

.ListsDropdown ul {
    margin: 0;
    padding: 0;
}

.ListsDropdown li{
    list-style: none;
    padding: 10px 20px;
    cursor: pointer;
}

.ListsDropdown li:hover {
    background-color: #4286f4;
}

.Hide {
    display: none;
}

.Show {
    display: block;
}

.Center {
    text-align: center;
};

@media(min-width: 750px) {
    .ListsDropdown {
        padding: 0;
        padding-top: 45px;
        background-color: #608aad;
        border-radius: 10px;
        transition: min-height 1s ease-in;
        width: 100%;
    }
}