.DropdownDrawer {
    width: 80px;
    height: 80%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    border-left: none;
    border-top: none;
    padding: 15px;
}

.Container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease-in;
    background-color: transparent;
}

.DropdownDrawer div {
    width: 90%;
    height: 5px;
    border-radius: 5px;
    background-color: white;
}

.Container:hover {
    background-color: #c7416f;
}

@media (min-width: 800px) {
    .DropdownDrawer {
        width: 40px;
        height: 80%;
        padding: 10px 0;
        margin-left: 10px;
        display: none;
    }
}