.DropdownDrawer {
    width: 80px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid #8a8a8a;
    border-left: none;
    border-top: none;
    padding: 15px;
    transition: background-color .2s ease-in;
    background-color: transparent;
}

.DropdownDrawer div {
    width: 80%;
    height: 3px;
    background-color: white;
}

.DropdownDrawer:hover {
    background-color: #4286f4;
}

@media (min-width: 750px) {
    .DropdownDrawer {
        width: 40px;
        height: 80%;
        padding: 10px 0;
        margin-left: 10px;
        display: none;
    }
}