.Navigation {
    display: none;
}

@media (min-width: 750px) {
    .Navigation {
        display: flex;
    }

    .Navigation {
        margin-left: 10px;
    }
    
    .Navigation ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        padding: 0;
    }
}