body {
  margin: 0;
  font-family: 'Public Sans' , -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #002da1;
  background-image: linear-gradient(to right, #608aad, #0048ff); */
  background-image: linear-gradient(to right, #e0ecff, #cacaca);
}

body * {
  font-family: 'Public Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
