.ButtonExtends {

}

.UpdatedButtons {
    margin: 2px;
    width: 20px;
    color: #fff;
    background-color: #c97793;
}

.UpdateButtons:hover {
    color: #c7416f;
}

@media(min-width: 411px) {
    .UpdatedButtons {
        width: 25px;
    }
}