.InfoControls {
    width: 100%;
    height: 100%;
}

.LoginCatch h2,
.InfoControls h2 {
    color: #4632c2;
    text-align: center;
    margin: 0;
}

.LoginCatch hr,
.InfoControls hr {
    width: 100%;
    height: 2px;
    border-top: 2px solid #4632c2;
}

.LoginCatch li {
    text-align: center;
}

.LoginCatch a {
    color: #c97793;
}

.UserControlsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 0 0 0;
    width: 100%;
}

.UserMediaControls {
    margin-left: auto;
}

.UserMediaControls button {
    height: 35px;
    padding: 5px;
    border: none;
    fill: #c97793;
    transition: fill .2s ease-in-out;
    cursor: pointer;
    background-color: transparent;
}

.UserMediaControls button:hover {
    fill: #c7416f;
}

@media(min-width: 546px) {
    .UserControlsContainer {
        flex-direction: row;
    }
}